# 6.5.2 Create Heatmaps for Weather Parameters

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

%matplotlib inline

# Import the API key.
from config import g_key

In [2]:
# Read cities.csv file into a DataFrame
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-04-19 01:03:32,-54.8000,-68.3000,53.60,62,40,6.91
1,1,Busselton,AU,2021-04-19 01:02:11,-33.6500,115.3333,60.01,85,100,10.25
2,2,Mataura,NZ,2021-04-19 01:07:08,-46.1927,168.8643,64.00,69,67,5.01
3,3,Thayetmyo,MM,2021-04-19 01:07:09,19.3167,95.1833,83.61,56,0,8.37
4,4,New Norfolk,AU,2021-04-19 01:07:09,-42.7826,147.0587,64.00,71,100,1.99

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# tell gmaps to use your API key. You only need to configure gmaps to use your API key once.
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# create the heatmap for the maximum temperature

# # 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]

# # 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length

# # 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# # 6. Call the figure to plot the data.
fig

In [5]:
# Google heatmaps do not plot negative numbers. If max temp is less than 0 F, you will get an InvalidWeightException error
# To remove the negative temperatures we can use a for loop to iterate through the max_temp and add the temperatures that are greater than 0 Â°F to a new list.

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Adjust Heatmap Zoom, Intensity, and Point Radius
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# 6.5.3 Get Vacation Criteria

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Thayetmyo,MM,2021-04-19 01:07:09,19.3167,95.1833,83.61,56,0,8.37
5,5,Carnarvon,AU,2021-04-19 01:07:10,-24.8667,113.6333,77.00,64,0,19.01
12,12,Venice,US,2021-04-19 01:07:12,27.0998,-82.4543,79.00,89,1,10.36
13,13,Hilo,US,2021-04-19 01:07:13,19.7297,-155.0900,80.60,57,40,11.50
16,16,Butaritari,KI,2021-04-19 01:07:14,3.0707,172.7902,83.37,74,95,14.32
17,17,Makakilo City,US,2021-04-19 01:07:14,21.3469,-158.0858,84.20,39,1,6.91
19,19,Cabo San Lucas,MX,2021-04-19 01:04:48,22.8909,-109.9124,73.99,56,1,11.50
22,22,Kavaratti,IN,2021-04-19 01:02:25,10.5669,72.6420,83.37,72,14,6.69
26,26,Rikitea,PF,2021-04-19 01:07:17,-23.1203,-134.9692,77.92,75,11,6.91
28,28,Acajutla,SV,2021-04-19 01:07:18,13.5928,-89.8275,73.99,97,100,1.99

In [11]:
#  to determine if there are any null values.
preferred_cities_df.count()

City_ID       218
City          218
Country       216
Date          218
Lat           218
Lng           218
Max Temp      218
Humidity      218
Cloudiness    218
Wind Speed    218
dtype: int64

# 6.5.4  Map Vacation Criteria

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3        Thayetmyo      MM     83.61  19.3167   95.1833
5        Carnarvon      AU     77.00 -24.8667  113.6333
12          Venice      US     79.00  27.0998  -82.4543
13            Hilo      US     80.60  19.7297 -155.0900
16      Butaritari      KI     83.37   3.0707  172.7902
17   Makakilo City      US     84.20  21.3469 -158.0858
19  Cabo San Lucas      MX     73.99  22.8909 -109.9124
22       Kavaratti      IN     83.37  10.5669   72.6420
26         Rikitea      PF     77.92 -23.1203 -134.9692
28        Acajutla      SV     73.99  13.5928  -89.8275

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}



# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Thayetmyo,MM,83.61,19.3167,95.1833,Htarwaya Thitsar Guest House
5,Carnarvon,AU,77.00,-24.8667,113.6333,Hospitality Carnarvon
12,Venice,US,79.00,27.0998,-82.4543,A Beach Retreat On Casey Key
13,Hilo,US,80.60,19.7297,-155.0900,Hilo Hawaiian Hotel
16,Butaritari,KI,83.37,3.0707,172.7902,Isles Sunset Lodge
17,Makakilo City,US,84.20,21.3469,-158.0858,Marriott's Ko Olina Beach Club
19,Cabo San Lucas,MX,73.99,22.8909,-109.9124,Hotel Tesoro Los Cabos
22,Kavaratti,IN,83.37,10.5669,72.6420,Hotels in Lakshadweep Islands
26,Rikitea,PF,77.92,-23.1203,-134.9692,Pension Maro'i
28,Acajutla,SV,73.99,13.5928,-89.8275,asi es

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [16]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))